.App {
	min-height: 100vh;
	text-align: center;
	background: fixed;
	background-size: cover;
	background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_v2_96b6d74a.jpeg?region=0%2C0%2C2048%2C1600);
}

@media screen and (max-width: 1000px) {
	.App {
		background-image: none;
	}
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(30, 34, 67, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1e2243;
}
